### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total_Players=len(purchase_data["SN"].unique())

summary_df = pd.DataFrame()
summary_df["Total_Players"] = [Total_Players]
summary_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Purchasing total 
#Number of Unique Items(Len)
#Average price(Mean)
#Total Number of Purchases (Count)
#Total Revenue (Sum)

Unique_Items=len(purchase_data["Item ID"].unique())

Average_Price=purchase_data["Price"].mean()

Number_of_purchases=purchase_data["Purchase ID"].count()

Total_Revenue=sum(purchase_data["Price"])

In [4]:
#Display Data Frame with cleaner format 
summarytable_df=pd.DataFrame()

summarytable_df["Unique_Items"]=[Unique_Items]
summarytable_df["Average_Price"]=[Average_Price]
summarytable_df["Number_of_purchases"]=[Number_of_purchases]
summarytable_df["Total_Revenue"]=[Total_Revenue]

summarytable_df

   Unique_Items  Average_Price  Number_of_purchases  Total_Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Count all Genders of Players (Count)
count_players_gender= purchase_data["Gender"].value_counts()
count_players_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [6]:
#Total count of players(Len)
Count_total_players=len(purchase_data["Gender"])
Count_total_players

780

In [7]:
#Count Male Players(Len)
Count_Male_players=len(purchase_data[purchase_data["Gender"]=="Male"])
Count_Male_players

652

In [8]:
#Percentage of Male Players 
Male_Player_pct=round((Count_Male_players)/(Count_total_players)*100)
Male_Player_pct

84

In [9]:
#Count Female Players(Len)
Count_Female_players=len(purchase_data[purchase_data["Gender"]=="Female"])
Count_Female_players

113

In [10]:
#Percentage of Female Players 
Female_Player_pct=round((Count_Female_players)/(Count_total_players)*100)
Female_Player_pct

14

In [11]:
#Count Other/Non-Disclosed Players(Len)
Count_other_players =  len(purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"])
Count_other_players

15

In [12]:
#Percentage of Other/ Non-Disclosed Players (Round- will take care of any decimels) that is why i added numpy to dependencies
Other_Player_pct=round((Count_other_players)/(Count_total_players)*100)
Other_Player_pct

2

In [13]:
#Summary of Gender Demographics 

player_gender_summary_df=pd.DataFrame()

player_gender_summary_df["Count_Male_players"]=[Count_Male_players]
player_gender_summary_df["Male_Player_pct"]=[Male_Player_pct]
player_gender_summary_df["Count_Female_players"]=[Count_Female_players]
player_gender_summary_df["Female_Player_pct"]=[Female_Player_pct]
player_gender_summary_df["Count_other_players"]= [Count_other_players]
player_gender_summary_df["Other_Player_pct"]= [Other_Player_pct]
player_gender_summary_df["Count_total_players"]=[Count_total_players]

player_gender_summary_df

,Count_Male_players,Male_Player_pct,Count_Female_players,Female_Player_pct,Count_other_players,Other_Player_pct,Count_total_players
0,652,84,113,14,15,2,780


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#Purchase Count by Gender (Len)

Male_purchase_count=len(purchase_data[purchase_data["Gender"]=="Male"])
Female_purchase_count=len(purchase_data[purchase_data["Gender"]=="Female"])
Other_purchase_count=len(purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"])


print("Male_purchase_count", Male_purchase_count)
print("Female_purchase_count", Female_purchase_count)
print("Other_purchase_count", Other_purchase_count)

Male_purchase_count 652
Female_purchase_count 113
Other_purchase_count 15

In [23]:
#Average purchase price by Male 

#Create a column to show calculations 
columns=["Purchase ID","SN","Age","Gender","Item ID","Item Name","Price"]

#Create a new dataframe with "Male PLayers" with the columns 
 
Male_df=purchase_data.loc[purchase_data["Gender"]=="Male", columns]
Male_purchase_count=len(purchase_data[purchase_data["Gender"]=="Male"])
Male_total_purchase_price = sum(Male_df["Price"])
Male_avg_purchase_price=Male_total_purchase_price/Male_purchase_count

In [24]:
#Summary of Purchase Price for Males 

summary_df=pd.DataFrame()
summary_df["Male_purchase_count"]=[Male_purchase_count]
summary_df["Male_total_purchase_price"]=[Male_total_purchase_price]
summary_df["Male_avg_purchase_price"]=[Male_avg_purchase_price]
summary_df

   Male_purchase_count  Male_total_purchase_price  Male_avg_purchase_price
0                  652                    1967.64                 3.017853

In [25]:
#Average purchase price by Female 

#Create a column to show calculations 
columns=["Purchase ID","SN","Age","Gender","Item ID","Item Name","Price"]

#Create a new dataframe with "Female PLayers" with the columns 
 
Female_df=purchase_data.loc[purchase_data["Gender"]=="Female", columns]
Female_purchase_count=len(purchase_data[purchase_data["Gender"]=="Female"])
Female_total_purchase_price = sum(Female_df["Price"])
Female_avg_purchase_price=Female_total_purchase_price/Female_purchase_count

In [26]:
#Summary of Purchase Price for Malees 

summary_df=pd.DataFrame()
summary_df["Female_purchase_count"]=[Female_purchase_count]
summary_df["Female_total_purchase_price"]=[Female_total_purchase_price]
summary_df["Female_avg_purchase_price"]=[Female_avg_purchase_price]
summary_df

,Female_purchase_count,Female_total_purchase_price,Female_avg_purchase_price
0,113,361.94,3.203009

In [27]:
#Average purchase price by Male 

#Create a column to show calculations 
columns=["Purchase ID","SN","Age","Gender","Item ID","Item Name","Price"]

#Create a new dataframe with "Male PLayers" with the columns 
 
Other_df=purchase_data.loc[purchase_data["Gender"]=="Other/Non-Disclosed", columns]
Other_purchase_count=len(purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"])
Other_total_purchase_price = sum(Other_df["Price"])
Other_avg_purchase_price=Other_total_purchase_price+Other_purchase_count

In [28]:
#Summary of Purchase Price for Males 

summary_df=pd.DataFrame()
summary_df["Other_purchase_count"]=[Other_purchase_count]
summary_df["Other_total_purchase_price"]=[Other_total_purchase_price]
summary_df["Other_avg_purchase_price"]=[Other_avg_purchase_price]
summary_df

   Other_purchase_count  Other_total_purchase_price  Other_avg_purchase_price
0                    15                           0                        15

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
#Create Min/Max for Age Data set- to find out what the min and max is in the spreadsheet
Min_age=purchase_data["Age"].min()
print("Min_age", Min_age)
Max_age=purchase_data["Age"].max()
print("Max_age", Max_age)

Min_age 7
Max_age 45

In [32]:
#Create bins that will range from the "min_age" to "max_age"

bins=[0,10,15,20,25,30,35,40,45]
Age_group=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

#Cut purchase data and generate age group into the bins 
Age_df=pd.cut(purchase_data["Age"], bins, labels= Age_group)
Age_df.head(10)

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    15-19
8    20-24
9    30-34
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '>=40']

In [33]:
#Place Data in new column within dataframe 
purchase_data["Age_range"]= Age_df
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [35]:
#Grouping Male/Female, Others / Non-Disclosed

Age_group_gen=purchase_data.groupby("Age_range")["Gender"].value_counts()
Age_group_gen

Age_range  Gender
<10        Male                      25
           Female                     7
10-14      Male                      41
           Female                    11
           Other / Non-Disclosed      2
15-19      Male                     167
           Female                    28
           Other / Non-Disclosed      5
20-24      Male                     270
           Female                    51
           Other / Non-Disclosed      4
25-29      Male                      70
           Female                     7
30-34      Male                      43
           Female                     7
           Other / Non-Disclosed      2
35-39      Male                      29
           Female                     2
           Other / Non-Disclosed      2
>=40       Male                       7
Name: Gender, dtype: int64

In [38]:
#Calculate numbers by Age group 
Age_group=purchase_data.groupby("Age_range")["Gender"].count()
Age_group

Age_range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Gender, dtype: int64

In [39]:
#Place percentage by age group 
Age_pct=round(purchase_data["Age_range"].value_counts()/780 *100, 2)
Age_pct

20-24    41.67
15-19    25.64
25-29     9.87
10-14     6.92
30-34     6.67
35-39     4.23
<10       4.10
>=40      0.90
Name: Age_range, dtype: float64

In [42]:
#Summary of Age Demographics 

summary_df=pd.DataFrame()
summary_df["Age_group"] = Age_group
summary_df["Age_pct"] = Age_pct
summary_df

           Age_group  Age_pct
Age_range
<10               32     4.10
10-14             54     6.92
15-19            200    25.64
20-24            325    41.67
25-29             77     9.87
30-34             52     6.67
35-39             33     4.23
>=40               7     0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#Create bins in which data will be held 
bins=[0,10,15,20,25,30,35,40,45]
Age_group=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

#Cut purchase data and generate age group into the bins 
Age_df=pd.cut(purchase_data["Age"], bins, labels= Age_group)
Age_df.head(10)

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    15-19
8    20-24
9    30-34
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '>=40']

In [44]:
#Calculate to obtain purchase count(COUNT)
Pur_count=purchase_data.groupby("Age_range")["Item ID"].count()
Pur_count

Age_range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Item ID, dtype: int64

In [45]:
#Calculate average purchase price(MEAN)
Avg_pur_price=purchase_data.groupby("Age_range")["Item ID"].mean()
Avg_pur_price

Age_range
<10      106.250000
10-14     91.407407
15-19     90.805000
20-24     89.806154
25-29     93.792208
30-34     89.461538
35-39    104.090909
>=40      82.285714
Name: Item ID, dtype: float64

In [46]:
#Calculate to obtain purchase total per person 
Total_purchase_price=purchase_data.groupby("Age_range")["Item ID"].sum()
Total_purchase_price

Age_range
<10       3400
10-14     4936
15-19    18161
20-24    29187
25-29     7222
30-34     4652
35-39     3435
>=40       576
Name: Item ID, dtype: int64

In [49]:
Avg_purchase_price= Total_purchase_price /576
Avg_purchase_price

Age_range
<10       5.902778
10-14     8.569444
15-19    31.529514
20-24    50.671875
25-29    12.538194
30-34     8.076389
35-39     5.963542
>=40      1.000000
Name: Item ID, dtype: float64

In [51]:
#Display Summary of Avg purchase price 
price_summary_df=pd.DataFrame()
price_summary_df["Pur_count"]= Pur_count
price_summary_df["Avg_pur_price"]= Avg_pur_price
price_summary_df["Total_purchase_price"]= Total_purchase_price
price_summary_df["Avg_purchase_price"]= Avg_purchase_price
price_summary_df

           Pur_count  Avg_pur_price  Total_purchase_price  Avg_purchase_price
Age_range
<10               32     106.250000                  3400            5.902778
10-14             54      91.407407                  4936            8.569444
15-19            200      90.805000                 18161           31.529514
20-24            325      89.806154                 29187           50.671875
25-29             77      93.792208                  7222           12.538194
30-34             52      89.461538                  4652            8.076389
35-39             33     104.090909                  3435            5.963542
>=40               7      82.285714                   576            1.000000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
#Calculate the top spenders 

pd_data = price_summary_df.sort_values(["Total_purchase_price"], ascending=False)
pd_data.head(10)

           Pur_count  Avg_pur_price  Total_purchase_price  Avg_purchase_price
Age_range
20-24            325      89.806154                 29187           50.671875
15-19            200      90.805000                 18161           31.529514
25-29             77      93.792208                  7222           12.538194
10-14             54      91.407407                  4936            8.569444
30-34             52      89.461538                  4652            8.076389
35-39             33     104.090909                  3435            5.963542
<10               32     106.250000                  3400            5.902778
>=40               7      82.285714                   576            1.000000

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
#Purchase Count
Purchase_count = purchase_data.groupby(["Item ID","Item Name"]).count()["Purchase ID"]
Purchase_count.head(10)

Item ID  Item Name
0        Splinter                             4
1        Crucifer                             4
2        Verdict                              6
3        Phantomlight                         6
4        Bloodlord's Fetish                   5
5        Putrid Fan                           4
6        Rusty Skull                          2
7        Thorn, Satchel of Dark Souls         7
8        Purgatory, Gem of Regret             3
9        Thorn, Conqueror of the Corrupted    4
Name: Purchase ID, dtype: int64

In [64]:
#Item Price 
Item_price = purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]
Item_price.head(10)

Item ID  Item Name
0        Splinter                             1.2800
1        Crucifer                             2.9425
2        Verdict                              2.4800
3        Phantomlight                         2.4900
4        Bloodlord's Fetish                   1.7000
5        Putrid Fan                           4.0800
6        Rusty Skull                          3.7000
7        Thorn, Satchel of Dark Souls         1.3300
8        Purgatory, Gem of Regret             3.9300
9        Thorn, Conqueror of the Corrupted    2.7300
Name: Price, dtype: float64

In [67]:
#Total purchase count 
Total_purchase_value = purchase_data.groupby(["Item ID","Item Name"]).mean()["Price"]
Total_purchase_value.head()

Item ID  Item Name
0        Splinter              1.2800
1        Crucifer              2.9425
2        Verdict               2.4800
3        Phantomlight          2.4900
4        Bloodlord's Fetish    1.7000
Name: Price, dtype: float64

In [71]:
#Summary of Most Popular Items 
items_summary_df = pd.DataFrame()
items_summary_df["Purchase_count"] = Purchase_count
items_summary_df["Item_price"] = Item_price
items_summary_df["Total_purchase_value"] = Total_purchase_value

items_summary_df.head(10)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
0,Splinter,4,1.2800,1.2800
1,Crucifer,4,2.9425,2.9425
2,Verdict,6,2.4800,2.4800
3,Phantomlight,6,2.4900,2.4900
4,Bloodlord's Fetish,5,1.7000,1.7000
5,Putrid Fan,4,4.0800,4.0800
6,Rusty Skull,2,3.7000,3.7000
7,"Thorn, Satchel of Dark Souls",7,1.3300,1.3300
8,"Purgatory, Gem of Regret",3,3.9300,3.9300
9,"Thorn, Conqueror of the Corrupted",4,2.7300,2.7300

In [72]:
#Sort by descending orders
Sorted_pur_count_df = items_summary_df.sort_values(["Purchase_count"], ascending=False)
Sorted_pur_count_df.head(10)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,4.614615
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,4.230000
145,Fiery Glass Crusader,9,4.580000,4.580000
132,Persuasion,9,3.221111,3.221111
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,3.530000
82,Nirvana,9,4.900000,4.900000
75,Brutality Ivory Warmace,8,2.420000,2.420000
103,Singed Scalpel,8,4.350000,4.350000
34,Retribution Axe,8,2.220000,2.220000
37,"Shadow Strike, Glory of Ending Hope",8,3.160000,3.160000

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [78]:
#Sort by top five spenders
Most_profitable_items = items_summary_df.sort_values("Total_purchase_value", ascending=False)

Most_profitable_items.head(5)

,,Purchase_count,Item_price,Total_purchase_value
Item ID,Item Name,,,
63,Stormfury Mace,2,4.99,4.99
139,"Mercy, Katana of Dismay",5,4.94,4.94
173,Stormfury Longsword,2,4.93,4.93
147,"Hellreaver, Heirloom of Inception",3,4.93,4.93
128,"Blazeguard, Reach of Eternity",5,4.91,4.91